.form--container {
    display: flex;
    justify-content: center;
    z-index: -2;
  }
  .form {
    position: relative;
    max-width: 800px;
    width: 100%;
    margin: 4rem 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    border-radius: 8px;
    h2 {
      margin: 0 0 4rem 0;
      color: $heading-primary;
    }
  }
  .form--elements {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
    @media (min-width: $medium-large) {
      flex-direction: row;
    }
    .form--elements-block {
      margin: 0 0 4rem 0;
      padding: 2rem;
      position: relative;
      @media (min-width: $medium-large) {
        margin: 0 4rem 4rem 0;
      }
      input {
        margin-bottom: 1rem;
        width: 80%;
      }
      &:after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: $body-light;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 8px;
      }
    }
    > * {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      &:last-child {
        margin-bottom: 0;
        }
        > * {
            margin-bottom: 1rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    input {
      color: #5F5F5F;
      padding: 0.8rem;
      font-size: 16px;
      border: 1px solid #e7e7e7;
    }
  }