@import "variables";

button.fullRecipe--edit {
    // margin-top: 3rem;
    // margin-left: 3rem;
    border-radius: 0;
    &:hover {
        background-color: darken($primary, 20%);
        box-shadow: none;
    }
    @media (min-width: $medium-large) {
        margin-top: 3rem;
        margin-left: 3rem;
    }
    @media (min-width: $large) {
        margin-left: 5rem;
    }
}
.fullRecipe {
    h1, h2, p {
        color: $body-primary;
    }
    .fullRecipe--tBlock {
        display: flex;
        margin-bottom: 2rem;
        flex-direction: column;
        @media (min-width: $medium-large) {
            flex-direction: row;
            margin: 2rem 3rem;
        }
        @media (min-width: $large) {
            margin: 2rem 5rem;
        }
        .fullRecipe--tBlock-box {
            flex: 1;
            order: 2;
            padding: 2rem;
            border-bottom: 2px solid $secondary-light;
            // border-top: 0;
            @media (min-width: $medium-large) {
                order: 1;
                border: 2px solid $secondary-light;
                border-right: 0;
            }
            .titleBox {

                display: flex;
                flex-direction: column;
                h3 {
                    margin: 0 0 2rem 0;
                    color: $secondary-light;
                }
                p {
                    margin: 1rem 0;
                    display: flex;
                    flex-wrap: wrap;
                    span {
                        padding: 0.5rem;
                        border: 1px solid $third;
                        border-right: 0;
                        background: $third;
                        color: white;
                        &:nth-child(2) {
                            border-right: 1px solid $third;
                            padding: 0.5rem 0.5 1rem;
                            background: white;
                            color: $third;
                        }
                    }
                }
                a {
                    margin-top: 1rem;
                    color: $third;
                    text-decoration: none;
                }
            }

        }
        .fullRecipe--tBlock-image {
            flex: 2;
            width: 100%;
            height: 400px;
            max-width: 1200px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            order: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (min-width: $medium-large) {
                order: 2;
                height: auto;
            }
            h3 {
                color: white;

            }
        }

    }


    .fullRecipe--bBlock {
        display: flex;
        flex-direction: column;
        margin: 2rem;
        @media (min-width: $medium-large) {
            flex-direction: row;
            margin: 0 5rem;
            padding: 2rem;

        }
        h2 {
            margin-top: 0;
        }
        .fullRecipe--bBlock-ingredients{
            flex: 1;
            p {
                padding: 0.75rem 0;
            }
        }
        .fullRecipe--bBlock-steps{

            p {
                padding: 0.75rem 0;
            }
            @media (min-width: $medium-large) {
                margin-left: 6rem;
                flex: 2;
            }
        }
    }
}