.appTitle {
    color: #fff;
    padding: 1rem 2rem 1rem 2rem;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0;
    display: flex;
    align-items: center;
    h3 {
      margin: 0;
      color: white;
    }
    svg {
      //height: 50px;
      transform: scale(1.2);
      margin-right: 1.5rem;
    }
  }



header {
    background-color: $secondary;
    display: flex;
    flex-direction: column;

    @media (min-width: $medium-large) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

    }
    a {
        display: flex;
        align-items: center;
        margin-left: 2rem;
        text-decoration: none;
        h3 {
            color:$heading-primary;
            margin-left: 1rem;
        }
        @media (min-width: $medium-large) {
            margin-left: 3rem;
        }
        @media (min-width: $large) {
            margin-left: 5rem;
        }
    }
    ul {
        display: flex;
        padding: 0;
        margin: 0;
        border-top: 2px solid white;
        align-items: center;
        justify-content: center;
        li {
            list-style-type: none;
            padding: 1rem 2rem 1rem 0;

            a {
                color: white;
                margin-left: 0;
                &:hover {
                    color: $primary;
                }
            }
            @media (min-width: $medium-large) {
                padding: 0 3rem 0 0;
            }
        }
        @media (min-width: $medium-large) {
            margin-right: 1rem;
            border-top: none;
        }
    }

}