
.login {
    display: flex;
    flex-direction: column;
    p {
        font-size: 12px;
        margin: 0 0 10px 0;
    }
    @media (min-width: $medium) {
        flex-direction: row;
        align-items: center;
        p {
            margin: 0 1rem 0 0;
        }
    }


}

.login .user-profile {
    position: fixed;
    bottom: 20px;
    right: 40px;
    width: 100px;
    height: 100px;
    img {
        border-radius: 50%;
        max-width: 100%;
      }
}