
@import "variables";
$lightBlue: lighten($secondary-light, 20%);
//buttons for date and category
#top-bar {
  padding: 1rem 1.5rem;
  border-bottom: 2px solid $secondary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  .browse {
    display: flex;
    flex-direction: column;
    @media (min-width: $medium) {
      flex-direction: row;
      align-items: center;
    }
  }
  span {
    margin-top: 0.5rem;
    cursor: pointer;
    order: 2;
    @media (min-width: $medium) {
      order: 1;
    }
    svg {
      height: 1.5rem;
    }
  }
  h3 {
    color: $secondary;
    margin: 0;
    order: 1;
    @media (min-width: $medium) {
      padding-left: 2rem;
      order: 2;
    }
  }
  .topBarAccount {

    background-color:$third;
    display: flex;
    h4 {
      letter-spacing: 1.5px;
      padding: 0.5rem;
      &:first-child {
        color: white;
      }
      &:nth-child(2){
        border: 1px solid $third;
        background-color: white;

      }
    }
  }

}
.sb-close {
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  display: none;
  @media (min-width: $medium) {
    position: relative;
    margin-left: -30%;
    margin-top: 0;
    display: block;
    transform: translateY(0);
  }
}
.sb-open {
  z-index: 1;
  display: block;
  opacity: 1;
  @media (min-width: $medium) {
    margin-top: 0;
    margin-left: 0;
  }
}
#sidebar {
  background-color: $secondary;
  width: 100%;
  @media (min-width: $medium) {
    width: 30%;
  }
  transition: all 0.5s ease-in-out;
    .option {
      display: flex;
      flex-direction: column;
      padding: 0 4rem 2rem 4rem;
      align-items: center;
      margin: 2rem 0;
      border-bottom: 2px solid $lightBlue;
      &:last-child {
        border-bottom: none;
        margin-bottom: 0
      }
      @media (min-width: $medium) {
        &:last-child {
          border-bottom: 2px solid $lightBlue;
          margin-bottom: 2rem;
        }
      }
      h4.sort {
        color: $lightBlue;
        padding-bottom: 0.5rem;
      }
      select {
        background: transparent;
        color: $lightBlue;
        border: 1px solid $lightBlue;
        width: calc(100px + (150 - 100) * ((100vw - 300px) / (1600 - 300)));
      }
      h4.category {
        color: $lightBlue;
        //padding-top: 2rem;
        cursor: pointer;
        div {
          display: flex;
          align-items: center;
            svg {
              height: 1rem;
              margin-top: 0.25rem;
              margin-left: 1rem;
            }
        }
      }
    }
}

.CategoryLinks {
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    &:first-child {
      margin-top: 1rem;
    }
    label {
      color: $lightBlue;
    }
    input[type="checkbox"] {
      margin-right: 1rem;
      color: $body-primary;
    }
  }

}

.loading {
  text-align: center;
  margin-top: 2rem;
}
.display-recipes {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $body-light;
  position: relative;
  @media (min-width: $medium) {
    flex-direction: row;
  }
  img {
    width: 100%;
  }
  button {
    width: 100%;
    display: block;
  }
  ul.recipe-list {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 0.5rem;
    padding-left: 30px;
    min-height: 200px;
    transition:all .5s ease-in-out;
    @media (min-width: $medium) {
      grid-gap: 1rem;
      width: 100%;
    }
    li {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      margin-right: 30px;
      color: #000;
      margin-bottom: 30px;
      a {
        text-decoration: none;
        color: none;
        display: flex;
        flex-direction: column;
        box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
        border-radius: 8px;
        transition: all .5s ease-in-out;
        overflow: hidden;
        &:hover, &:focus {
          box-shadow: $box-shadow-deep;
          transition: all .5s ease-in-out;
          transform: scale(1.1);
          .title-block {
            transition: all .5s ease-in-out;
            background: transparent;
            > * {
              color: darken($body-primary, 20%);
              font-weight: bold;
              transition: all .5s ease-in-out;
            }

          }
        }
        h3 {
          font-family: 'Open Sans Condensed', sans-serif;
          margin: 0;
          color: $heading-secondary;
          font-size: 1rem;
          font-weight: 300;
          padding: 1rem;

        }
        .title-block {
          background: #fff;
          text-decoration: none;
          font-weight: bold;
          display: flex;
          flex-direction: column;
          transition: all .5s ease-in;
          padding: 0 2rem 1rem 2rem;
          .title {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 20px;
            transition: all .5s ease-in;
          }
          h3 {
            padding: 1rem 0 1rem 0;
            &:after {
              content: "";
              display: block;
              padding-top: 1rem;
              width: 60%;
              border-bottom: 2px solid $third;
            }

          }
          h4 {
            padding: 0;
            letter-spacing: 1px;
            font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
            span {
              // font-family: 'Playfair Display', serif;
              padding-left: 0.5rem;
            }
          }
        }
        .category {
          background: rgba(white, 0.7);
          color: $body-primary;
          position: absolute;
          margin: 0.5rem;

        }
        .bgImage {
          height: 300px;
          width: 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          transform: scale(1);
          transition: all .5s ease-in;
          display: flex;
          justify-content: center;
          align-items: center;
          h4   {
            color: lighten($secondary-light, 30%);
          }
        }
      }

      .remove {
        margin-top: 1rem;
        transition: 0.5s ease-in-out;
        color: $secondary;
        cursor: pointer;
        display: flex;
        align-items: center;

        span {
          transition: .3s all cubic-bezier(1, 0.25, 0.25, .8);
          will-change: transform;
          margin-left: 1rem;

          &.up {
            transform: rotate(0deg);
            margin-top: 0.5rem;
          }
          &.down {
            transform: rotate(180deg);

          }
        }
        svg {
          height: 1rem;
        }

      }
    }
  }
}
.deleteDrop {
  p {
    text-align: center;
  }
  .deleteButtons {
    display: flex;
    justify-content: space-between;
  }
  button {
    background: white;
    color: $secondary;
    width: 40%;
    margin: 0;
    padding: 0.5rem;
    //border: 1px solid $secondary;
    &:first-child {
      background-color: $fourth;
      color: white;
      margin-right: 1rem;
      border: none;
    }
  }
}




