@import "variables";
$darkprimary: darken($primary, 10%);
$bg-light: rgb(244, 244, 244);

.formWrapper {
    height: 100%;
    width: 100%;
}
.recipeIntro  {
    h1 {
        position: relative;
        text-align: center;
        padding-top: 2rem;
        margin: 0 auto;
        color: white;
        font-weight: bold;
        font-style: italic;
        text-transform: uppercase;
        font-size: 38px;
        letter-spacing: 2px;
    }
    .collapse {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 0;
        span {
            display: flex;
            align-items: center;
            h3 {
                color: white;
                cursor: pointer;
                margin: 0;
            }
            svg {
                height: 1.5rem;
                margin-top: 0.5rem;
                margin-left: 1rem;
                cursor: pointer;
                path {
                    fill: white;
                }
            }
        }
    }
}



.recipeForm p {
    font-size: 10px;
    margin: 1rem 0 0;
}
.recipeForm h4 {
    margin-bottom: 1rem;
}
.recipeForm .recipeForm--Background {
    border-radius: 8px;
    padding: 2rem 2rem 2rem 2rem;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    margin: 0 auto 4rem auto;
    width: 50%;
    background-color: white;
}
.recipeForm input, textarea {
    color: $body-primary;
    padding: 0.8rem;
    font-size: 16px;
    border: 1px solid $body-light;
}
.recipeForm button {
    border-radius: 0;
    width: 100%;
}
.formErrors {
    margin: 1rem;
}
.titleWrapper {
    display: flex;
    margin: 0 1rem;
    input {
        width: 100%;
    }
}
.upload {
    display: flex;
    align-items: center;
    padding: 4rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid $body-light;
    p {
        margin-top: 5px;
    }
    h4 {
        margin: 0 1rem 0 0;
    }
    form {
        img {
            max-width: 300px;
        }

    }
}
.chooseCategory {
    display: flex;
    align-items: center;
    padding: 4rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid $body-light;
    // margin-bottom: 2rem;
    h4 {
        margin: 0 1rem 0 0;
    }
    select {
        flex: 1;
        background: white;
        border: none;
        font-size: 14px;
        height: 29px;
        padding: 5px; /* If you add too much padding here, the options won't show in IE */
        width: 268px;
        border: 1px solid $body-light;
    }
}

.ingredientsWrapper {
    //background-color: $bg-light;
    padding: 4rem 0 ;
    margin: 0 1rem 0 1rem;
    border-bottom: 2px solid $body-light;
}
.ingredientsForm {
    display: flex;

    // border-bottom: 2px solid $body-light;
    // padding-bottom: 2rem;
    input {
        flex: 3;
        margin-bottom: 0;
        padding: 0.5rem;
    }
    button {
        margin-top: 0;
        flex: 2;
        box-shadow: none;
        border-radius: 0;
        margin-left: 1rem;
        transition: 0.2s ease-in-out;
        &:hover {
            box-shadow: $box-shadow-hover;

        }

    }
}
.stepsWrapper {
    padding: 4rem 0 ;
    margin: 0 1rem 0 1rem;
}
.stepsForm {
    display: flex;
    align-items: flex-start;
    textarea {
        flex: 3;
        margin-bottom: 0;
        height: 5rem;
        //line-height: 5rem;
        box-sizing: border-box;
        resize: none;
        padding: 0.5rem;
    }
    button {
        margin-top: 0;
        flex: 2;
        box-shadow: none;
        border-radius: 0;
        margin-left: 1rem;
        transition: 0.2s ease-in-out;
        &:hover {
            box-shadow: $box-shadow-hover;

        }
    }
}
.ingredients {
    margin: 0;
    padding: 0;
    li {
        display: flex;
        list-style-type: none;
        border-bottom: 2px solid lighten($primary, 30%);
        padding: 1rem;
        margin: 0 0 0.5rem 0;
        justify-content: space-between;
        align-items: center;
        transition: 0.2s ease-in-out;
        &:first-child {
            margin-top: 2rem;
        }
        &:last-child {
            margin-bottom: 2rem;
        }
        &:hover {
            box-shadow: $box-shadow-hover;
        }
        .listNumber {
            width: 2em;
            height: 2em;
            box-sizing: initial;
            font-size: 16px;
            text-align: center;
            line-height: 2em;
            position: relative;
            color: darken($body-light, 10%);
            border: 2px solid darken($body-light, 10%);
            border-radius: 50%;
        }
        .listContent {
            color: $body-primary;
            font-size: 1rem;
            padding: 0 1rem;
        }
        span.remove {
            svg {

                path {
                    fill: $fourth;
                    &:hover {
                        fill: darken($fourth, 25%);
                    }
                }
                height: 1.5rem;
                //margin-top: 0.75rem;
                cursor: pointer;
            }
        }
    }

}
.steps {
    @extend .ingredients;
    li h4 {
        font-size: 16px;
    }
}
