body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  height: 100%; }

h1 {
  font-family: 'Playfair Display', serif;
  font-size: calc(32px + (64 - 32) * ((100vw - 300px) / (1600 - 300))); }

h2 {
  font-family: 'Playfair Display', serif;
  font-size: calc(24px + (36 - 24) * ((100vw - 300px) / (1600 - 300))); }

h3 {
  font-family: 'Playfair Display', serif;
  font-size: calc(18px + (28 - 18) * ((100vw - 300px) / (1600 - 300)));
  color: #5F5F5F; }

h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
  color: #5F5F5F;
  margin: 0; }

.container-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/cuttingboard.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 4rem;
  z-index: -2; }

button {
  cursor: pointer;
  background-color: #8F44AB;
  border-radius: 8px;
  border: none;
  min-width: 120px;
  color: white;
  font-size: 14px;
  padding: 1rem;
  transition: 0.5s ease-in-out; }
  button:hover {
    background-color: #522762; }

button[disabled] {
  opacity: 0.25;
  cursor: not-allowed; }

button.submit {
  background-color: #F3C40F; }
  button.submit:hover {
    background-color: #957707; }

button.delete {
  background-color: #E24C3F; }
  button.delete:hover {
    background-color: #a22419; }

.recipeIntro {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .recipeIntro .recipeIntro-title {
    color: white;
    margin: 6rem auto 4rem auto;
    padding: 2rem 0;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    align-self: center;
    text-align: center; }
    .recipeIntro .recipeIntro-title h1 {
      letter-spacing: 1rem;
      font-family: 'Playfair Display', serif;
      margin: 0; }
    .recipeIntro .recipeIntro-title h2 {
      letter-spacing: 0.5rem;
      font-style: italic;
      font-family: 'Playfair Display', serif;
      margin: 0; }
  .recipeIntro .recipeIntro-Options .collapse {
    display: flex;
    justify-content: center;
    margin: 0 0 2rem 0; }
    .recipeIntro .recipeIntro-Options .collapse span {
      display: flex;
      align-items: center; }
      .recipeIntro .recipeIntro-Options .collapse span h3 {
        color: white;
        cursor: pointer;
        margin: 0;
        text-align: center; }
      .recipeIntro .recipeIntro-Options .collapse span svg {
        height: 1.5rem;
        margin-top: 0.5rem;
        margin-left: 1rem;
        cursor: pointer; }
        .recipeIntro .recipeIntro-Options .collapse span svg path {
          fill: white; }
  .recipeIntro .recipeIntro-Options h3 {
    text-align: center;
    color: white; }
    .recipeIntro .recipeIntro-Options h3 a {
      color: #44abaa;
      text-decoration: none; }
      .recipeIntro .recipeIntro-Options h3 a:hover {
        color: #86cfce; }

.rForm {
  margin-bottom: 4rem; }

.rForm p {
  font-size: 10px; }

.rForm h4 {
  margin-bottom: 1rem; }

.rForm--bg {
  border-radius: 8px;
  padding: 1rem 0.5rem;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  margin: 0 auto 4rem auto;
  width: 90%;
  background-color: white; }
  @media (min-width: 600px) {
    .rForm--bg {
      width: 70%;
      padding: 2rem; } }
  @media (min-width: 1200px) {
    .rForm--bg {
      width: 50%;
      padding: 2rem; } }

.rForm input, textarea {
  color: #5F5F5F;
  padding: 0.8rem;
  font-size: 16px;
  border: 1px solid #e7e7e7; }

.rForm button {
  border-radius: 0;
  width: 100%; }

.rFormErrors {
  margin: 1rem; }

.rForm--input {
  display: flex;
  flex-direction: column;
  margin: 0 1rem; }
  .rForm--input input {
    width: 100%; }

.rForm--img {
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
  margin: 0 1rem; }
  @media (min-width: 1200px) {
    .rForm--img {
      flex-direction: row;
      align-items: center; } }
  .rForm--img h4 {
    margin: 0 0 1rem 0; }
    @media (min-width: 1200px) {
      .rForm--img h4 {
        margin: 0 1rem 0 0; } }
  .rForm--img .rForm--img-input input[type="file" i] {
    width: 80%; }
  .rForm--img .rForm--img-input img {
    max-width: 300px; }
  .rForm--img .rForm--img-input p {
    margin-top: 5px; }

.rForm--select {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  margin: 0 1rem;
  border-top: 2px solid #e7e7e7; }
  .rForm--select h4 {
    margin: 0 1rem 0 0; }
  .rForm--select select {
    background: white;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px;
    /* If you add too much padding here, the options won't show in IE */
    border: 1px solid #e7e7e7;
    width: 40%; }

.rForm--input-vertical {
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
  margin: 0 1rem;
  border-top: 2px solid #e7e7e7; }
  .rForm--input-vertical button {
    margin-top: 0;
    flex: 2;
    box-shadow: none;
    border-radius: 0;
    margin-left: 1rem;
    transition: 0.2s ease-in-out;
    margin-top: 0; }
    .rForm--input-vertical button:hover {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .rForm--input-vertical .ingredients-input {
    display: flex; }
    .rForm--input-vertical .ingredients-input input {
      flex: 3;
      margin-bottom: 0;
      padding: 0.5rem; }
  .rForm--input-vertical .steps-input {
    display: flex;
    align-items: flex-start; }
    .rForm--input-vertical .steps-input textarea {
      flex: 3;
      margin-bottom: 0;
      height: 5rem;
      box-sizing: border-box;
      resize: none;
      padding: 0.5rem; }

.rForm--list {
  margin: 0;
  padding: 0; }
  .rForm--list li {
    display: flex;
    list-style-type: none;
    border-bottom: 2px solid #d0abdd;
    padding: 1rem;
    margin: 0 0 0.5rem 0;
    justify-content: space-between;
    align-items: flex-start;
    transition: 0.2s ease-in-out; }
    .rForm--list li:first-child {
      margin-top: 2rem; }
    .rForm--list li:last-child {
      margin-bottom: 2rem; }
    .rForm--list li:hover {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
    .rForm--list li .listContent {
      color: #5F5F5F;
      font-size: 1rem;
      padding: 0 2rem; }
    .rForm--list li span.remove svg {
      height: 1.5rem;
      cursor: pointer; }
      .rForm--list li span.remove svg path:hover {
        fill: #8c1f15; }

.errorMsg {
  color: #E24C3F; }

.errorMsg--form {
  padding: 1rem;
  color: #E24C3F;
  border: 1px solid #f6c8c4;
  border-radius: 8px;
  margin-bottom: 2rem; }

.login {
  display: flex;
  flex-direction: column; }
  .login p {
    font-size: 12px;
    margin: 0 0 10px 0; }
  @media (min-width: 600px) {
    .login {
      flex-direction: row;
      align-items: center; }
      .login p {
        margin: 0 1rem 0 0; } }

.login .user-profile {
  position: fixed;
  bottom: 20px;
  right: 40px;
  width: 100px;
  height: 100px; }
  .login .user-profile img {
    border-radius: 50%;
    max-width: 100%; }

.appTitle {
  color: #fff;
  padding: 1rem 2rem 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0;
  display: flex;
  align-items: center; }
  .appTitle h3 {
    margin: 0;
    color: white; }
  .appTitle svg {
    transform: scale(1.2);
    margin-right: 1.5rem; }

header {
  background-color: #273762;
  display: flex;
  flex-direction: column; }
  @media (min-width: 900px) {
    header {
      flex-direction: row;
      align-items: center;
      justify-content: space-between; } }
  header a {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    text-decoration: none; }
    header a h3 {
      color: #FFFFFF;
      margin-left: 1rem; }
    @media (min-width: 900px) {
      header a {
        margin-left: 3rem; } }
    @media (min-width: 1200px) {
      header a {
        margin-left: 5rem; } }
  header ul {
    display: flex;
    padding: 0;
    margin: 0;
    border-top: 2px solid white;
    align-items: center;
    justify-content: center; }
    header ul li {
      list-style-type: none;
      padding: 1rem 2rem 1rem 0; }
      header ul li a {
        color: white;
        margin-left: 0; }
        header ul li a:hover {
          color: #8F44AB; }
      @media (min-width: 900px) {
        header ul li {
          padding: 0 3rem 0 0; } }
    @media (min-width: 900px) {
      header ul {
        margin-right: 1rem;
        border-top: none; } }

button.fullRecipe--edit {
  border-radius: 0; }
  button.fullRecipe--edit:hover {
    background-color: #522762;
    box-shadow: none; }
  @media (min-width: 900px) {
    button.fullRecipe--edit {
      margin-top: 3rem;
      margin-left: 3rem; } }
  @media (min-width: 1200px) {
    button.fullRecipe--edit {
      margin-left: 5rem; } }

.fullRecipe h1, .fullRecipe h2, .fullRecipe p {
  color: #5F5F5F; }

.fullRecipe .fullRecipe--tBlock {
  display: flex;
  margin-bottom: 2rem;
  flex-direction: column; }
  @media (min-width: 900px) {
    .fullRecipe .fullRecipe--tBlock {
      flex-direction: row;
      margin: 2rem 3rem; } }
  @media (min-width: 1200px) {
    .fullRecipe .fullRecipe--tBlock {
      margin: 2rem 5rem; } }
  .fullRecipe .fullRecipe--tBlock .fullRecipe--tBlock-box {
    flex: 1;
    order: 2;
    padding: 2rem;
    border-bottom: 2px solid #627bc0; }
    @media (min-width: 900px) {
      .fullRecipe .fullRecipe--tBlock .fullRecipe--tBlock-box {
        order: 1;
        border: 2px solid #627bc0;
        border-right: 0; } }
    .fullRecipe .fullRecipe--tBlock .fullRecipe--tBlock-box .titleBox {
      display: flex;
      flex-direction: column; }
      .fullRecipe .fullRecipe--tBlock .fullRecipe--tBlock-box .titleBox h3 {
        margin: 0 0 2rem 0;
        color: #627bc0; }
      .fullRecipe .fullRecipe--tBlock .fullRecipe--tBlock-box .titleBox p {
        margin: 1rem 0;
        display: flex;
        flex-wrap: wrap; }
        .fullRecipe .fullRecipe--tBlock .fullRecipe--tBlock-box .titleBox p span {
          padding: 0.5rem;
          border: 1px solid #44abaa;
          border-right: 0;
          background: #44abaa;
          color: white; }
          .fullRecipe .fullRecipe--tBlock .fullRecipe--tBlock-box .titleBox p span:nth-child(2) {
            border-right: 1px solid #44abaa;
            padding: 0.5rem 0.5 1rem;
            background: white;
            color: #44abaa; }
      .fullRecipe .fullRecipe--tBlock .fullRecipe--tBlock-box .titleBox a {
        margin-top: 1rem;
        color: #44abaa;
        text-decoration: none; }
  .fullRecipe .fullRecipe--tBlock .fullRecipe--tBlock-image {
    flex: 2;
    width: 100%;
    height: 400px;
    max-width: 1200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (min-width: 900px) {
      .fullRecipe .fullRecipe--tBlock .fullRecipe--tBlock-image {
        order: 2;
        height: auto; } }
    .fullRecipe .fullRecipe--tBlock .fullRecipe--tBlock-image h3 {
      color: white; }

.fullRecipe .fullRecipe--bBlock {
  display: flex;
  flex-direction: column;
  margin: 2rem; }
  @media (min-width: 900px) {
    .fullRecipe .fullRecipe--bBlock {
      flex-direction: row;
      margin: 0 5rem;
      padding: 2rem; } }
  .fullRecipe .fullRecipe--bBlock h2 {
    margin-top: 0; }
  .fullRecipe .fullRecipe--bBlock .fullRecipe--bBlock-ingredients {
    flex: 1; }
    .fullRecipe .fullRecipe--bBlock .fullRecipe--bBlock-ingredients p {
      padding: 0.75rem 0; }
  .fullRecipe .fullRecipe--bBlock .fullRecipe--bBlock-steps p {
    padding: 0.75rem 0; }
  @media (min-width: 900px) {
    .fullRecipe .fullRecipe--bBlock .fullRecipe--bBlock-steps {
      margin-left: 6rem;
      flex: 2; } }

#top-bar {
  padding: 1rem 1.5rem;
  border-bottom: 2px solid #273762;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white; }
  #top-bar .browse {
    display: flex;
    flex-direction: column; }
    @media (min-width: 600px) {
      #top-bar .browse {
        flex-direction: row;
        align-items: center; } }
  #top-bar span {
    margin-top: 0.5rem;
    cursor: pointer;
    order: 2; }
    @media (min-width: 600px) {
      #top-bar span {
        order: 1; } }
    #top-bar span svg {
      height: 1.5rem; }
  #top-bar h3 {
    color: #273762;
    margin: 0;
    order: 1; }
    @media (min-width: 600px) {
      #top-bar h3 {
        padding-left: 2rem;
        order: 2; } }
  #top-bar .topBarAccount {
    background-color: #44abaa;
    display: flex; }
    #top-bar .topBarAccount h4 {
      letter-spacing: 1.5px;
      padding: 0.5rem; }
      #top-bar .topBarAccount h4:first-child {
        color: white; }
      #top-bar .topBarAccount h4:nth-child(2) {
        border: 1px solid #44abaa;
        background-color: white; }

.sb-close {
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  display: none; }
  @media (min-width: 600px) {
    .sb-close {
      position: relative;
      margin-left: -30%;
      margin-top: 0;
      display: block;
      transform: translateY(0); } }

.sb-open {
  z-index: 1;
  display: block;
  opacity: 1; }
  @media (min-width: 600px) {
    .sb-open {
      margin-top: 0;
      margin-left: 0; } }

#sidebar {
  background-color: #273762;
  width: 100%;
  transition: all 0.5s ease-in-out; }
  @media (min-width: 600px) {
    #sidebar {
      width: 30%; } }
  #sidebar .option {
    display: flex;
    flex-direction: column;
    padding: 0 2rem 2rem 2rem;
    align-items: center;
    margin: 2rem 0;
    border-bottom: 2px solid #abb8dd; }
    #sidebar .option:last-child {
      border-bottom: none;
      margin-bottom: 0; }
    @media (min-width: 600px) {
      #sidebar .option:last-child {
        border-bottom: 2px solid #abb8dd;
        margin-bottom: 2rem; } }
    #sidebar .option h4.sort {
      color: #abb8dd;
      padding-bottom: 0.5rem; }
    #sidebar .option select {
      background: transparent;
      color: #abb8dd;
      border: 1px solid #abb8dd;
      width: calc(100px + (150 - 100) * ((100vw - 300px) / (1600 - 300))); }
    #sidebar .option h4.category {
      color: #abb8dd;
      cursor: pointer; }
      #sidebar .option h4.category div {
        display: flex;
        align-items: center; }
        #sidebar .option h4.category div svg {
          height: 1rem;
          margin-top: 0.25rem;
          margin-left: 1rem; }

.CategoryLinks {
  display: flex;
  flex-direction: column; }
  .CategoryLinks div {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem; }
    .CategoryLinks div:first-child {
      margin-top: 1rem; }
    .CategoryLinks div label {
      color: #abb8dd; }
    .CategoryLinks div input[type="checkbox"] {
      margin-right: 1rem;
      color: #5F5F5F; }

.loading {
  text-align: center;
  margin-top: 2rem; }

.display-recipes {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #e7e7e7;
  position: relative; }
  @media (min-width: 600px) {
    .display-recipes {
      flex-direction: row; } }
  .display-recipes img {
    width: 100%; }
  .display-recipes button {
    width: 100%;
    display: block; }
  .display-recipes ul.recipe-list {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 0.5rem;
    padding-left: 30px;
    min-height: 200px;
    transition: all .5s ease-in-out; }
    @media (min-width: 600px) {
      .display-recipes ul.recipe-list {
        grid-gap: 1rem;
        width: 100%; } }
    .display-recipes ul.recipe-list li {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      margin-right: 30px;
      color: #000;
      margin-bottom: 30px; }
      .display-recipes ul.recipe-list li a {
        text-decoration: none;
        color: none;
        display: flex;
        flex-direction: column;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        transition: all .5s ease-in-out;
        overflow: hidden; }
        .display-recipes ul.recipe-list li a:hover, .display-recipes ul.recipe-list li a:focus {
          box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.14), 0 8px 8px -6px rgba(0, 0, 0, 0.12), 0 4px 18px 0 rgba(0, 0, 0, 0.2);
          transition: all .5s ease-in-out;
          transform: scale(1.1); }
          .display-recipes ul.recipe-list li a:hover .title-block, .display-recipes ul.recipe-list li a:focus .title-block {
            transition: all .5s ease-in-out;
            background: transparent; }
            .display-recipes ul.recipe-list li a:hover .title-block > *, .display-recipes ul.recipe-list li a:focus .title-block > * {
              color: #2c2c2c;
              font-weight: bold;
              transition: all .5s ease-in-out; }
        .display-recipes ul.recipe-list li a h3 {
          font-family: 'Open Sans Condensed', sans-serif;
          margin: 0;
          color: #404040;
          font-size: 1rem;
          font-weight: 300;
          padding: 1rem; }
        .display-recipes ul.recipe-list li a .title-block {
          background: #fff;
          text-decoration: none;
          font-weight: bold;
          display: flex;
          flex-direction: column;
          transition: all .5s ease-in;
          padding: 0 2rem 1rem 2rem; }
          .display-recipes ul.recipe-list li a .title-block .title {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 20px;
            transition: all .5s ease-in; }
          .display-recipes ul.recipe-list li a .title-block h3 {
            padding: 1rem 0 1rem 0; }
            .display-recipes ul.recipe-list li a .title-block h3:after {
              content: "";
              display: block;
              padding-top: 1rem;
              width: 60%;
              border-bottom: 2px solid #44abaa; }
          .display-recipes ul.recipe-list li a .title-block h4 {
            padding: 0;
            letter-spacing: 1px;
            font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300))); }
            .display-recipes ul.recipe-list li a .title-block h4 span {
              padding-left: 0.5rem; }
        .display-recipes ul.recipe-list li a .category {
          background: rgba(255, 255, 255, 0.7);
          color: #5F5F5F;
          position: absolute;
          margin: 0.5rem; }
        .display-recipes ul.recipe-list li a .bgImage {
          height: 300px;
          width: 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          transform: scale(1);
          transition: all .5s ease-in;
          display: flex;
          justify-content: center;
          align-items: center; }
          .display-recipes ul.recipe-list li a .bgImage h4 {
            color: #cfd7ec; }
      .display-recipes ul.recipe-list li .remove {
        margin-top: 1rem;
        transition: 0.5s ease-in-out;
        color: #273762;
        cursor: pointer;
        display: flex;
        align-items: center; }
        .display-recipes ul.recipe-list li .remove span {
          transition: 0.3s all cubic-bezier(1, 0.25, 0.25, 0.8);
          will-change: transform;
          margin-left: 1rem; }
          .display-recipes ul.recipe-list li .remove span.up {
            transform: rotate(0deg);
            margin-top: 0.5rem; }
          .display-recipes ul.recipe-list li .remove span.down {
            transform: rotate(180deg); }
        .display-recipes ul.recipe-list li .remove svg {
          height: 1rem; }

.deleteDrop p {
  text-align: center; }

.deleteDrop .deleteButtons {
  display: flex;
  justify-content: space-between; }

.deleteDrop button {
  background: white;
  color: #273762;
  width: 40%;
  margin: 0;
  padding: 0.5rem; }
  .deleteDrop button:first-child {
    background-color: #E24C3F;
    color: white;
    margin-right: 1rem;
    border: none; }

.form--container {
  display: flex;
  justify-content: center;
  z-index: -2; }

.form {
  position: relative;
  max-width: 600px;
  width: 100%;
  margin: 4rem 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  border-radius: 8px; }
  .form:after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #e7e7e7;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 8px; }
  .form h2 {
    margin: 0;
    padding: 0 1rem 0; }

.form--elements {
  width: 80%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2; }
  .form--elements > * {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column; }
    .form--elements > *:last-child {
      margin-bottom: 0; }
    .form--elements > * > * {
      margin-bottom: 1rem; }
      .form--elements > * > *:last-child {
        margin-bottom: 0; }
  .form--elements input {
    color: #5F5F5F;
    padding: 0.8rem;
    font-size: 16px;
    border: 1px solid #e7e7e7; }

.update-form {
  max-width: 800px;
  margin: 0 auto;
  overflow-x: hidden; }
  .update-form .submit-Block {
    background: #e7e7e7;
    margin-top: 1rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    .update-form .submit-Block h4 {
      margin-right: 2rem; }
  .update-form h2 {
    margin-left: 1rem; }
  .update-form h3 {
    margin-left: 1rem; }

.editRecipe-title {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0; }
  .editRecipe-title .cancel-Update {
    align-self: center;
    margin-right: 1rem; }
  @media (min-width: 1200px) {
    .editRecipe-title {
      margin: 0; } }

.editRecipe-Column > *, .editRecipe-Column--List > *, .editRecipe-Column--Image > * {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  border-top: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7; }
  .editRecipe-Column > *:last-child, .editRecipe-Column--List > *:last-child, .editRecipe-Column--Image > *:last-child {
    border-bottom: 1px solid #e7e7e7; }
  .editRecipe-Column > * > *, .editRecipe-Column--List > * > *, .editRecipe-Column--Image > * > * {
    border-left: 1px solid #e7e7e7; }
    .editRecipe-Column > * > *:first-child, .editRecipe-Column--List > * > *:first-child, .editRecipe-Column--Image > * > *:first-child {
      border-left: none; }
  @media (min-width: 600px) {
    .editRecipe-Column > *, .editRecipe-Column--List > *, .editRecipe-Column--Image > * {
      grid-template-columns: 2fr 1fr 1fr;
      grid-gap: 20px; } }

.editRecipe-Column .select, .editRecipe-Column--List .select, .editRecipe-Column--Image .select {
  display: flex; }
  .editRecipe-Column .select > div, .editRecipe-Column--List .select > div, .editRecipe-Column--Image .select > div {
    flex-direction: row; }
  .editRecipe-Column .select > div > select, .editRecipe-Column--List .select > div > select, .editRecipe-Column--Image .select > div > select {
    margin: 0 auto; }

.editRecipe-Column p, .editRecipe-Column--List p, .editRecipe-Column--Image p {
  margin: 0;
  padding: 1rem;
  align-self: center; }

.editRecipe-Column button, .editRecipe-Column--List button, .editRecipe-Column--Image button {
  align-self: center;
  margin: 1rem;
  min-width: 100px;
  font-size: 12px; }

.editRecipe-Column > div > div, .editRecipe-Column--List > div > div, .editRecipe-Column--Image > div > div {
  width: 100%;
  display: flex;
  align-items: center; }
  @media (max-width: 600px) {
    .editRecipe-Column > div > div, .editRecipe-Column--List > div > div, .editRecipe-Column--Image > div > div {
      flex-direction: column; } }

.editRecipe-Column span, .editRecipe-Column--List span, .editRecipe-Column--Image span {
  font-weight: bold; }

.editRecipe-Column input, .editRecipe-Column--List input, .editRecipe-Column--Image input, .editRecipe-Column textarea, .editRecipe-Column--List textarea, .editRecipe-Column--Image textarea {
  border: none;
  padding: 1rem;
  font-size: 18px; }
  .editRecipe-Column input:focus, .editRecipe-Column--List input:focus, .editRecipe-Column--Image input:focus, .editRecipe-Column textarea:focus, .editRecipe-Column--List textarea:focus, .editRecipe-Column--Image textarea:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed; }

.editRecipe-Column--List > * {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px; }

.editRecipe-image > * {
  margin-left: 1rem; }

.editRecipe-Column--Image > * {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px; }
  .editRecipe-Column--Image > * h4 {
    margin-left: 1rem;
    margin-top: 1rem; }
  @media (min-width: 1200px) {
    .editRecipe-Column--Image > * {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; }
      .editRecipe-Column--Image > * h4, .editRecipe-Column--Image > * input {
        align-self: center;
        justify-self: center;
        margin-top: 0; } }

.editRecipe-Column--Image > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .editRecipe-Column--Image > div > div input {
    border: 1px solid #e7e7e7; }
  .editRecipe-Column--Image > div > div img {
    width: 200px; }

@media (max-width: 350px) {
  .editRecipe-Column--Image p.update-image-note {
    align-self: flex-start; } }

.editRecipe-selectedIMG {
  display: flex;
  align-items: center; }
  .editRecipe-selectedIMG span {
    font-weight: bold;
    margin-right: 1rem; }
  .editRecipe-selectedIMG img {
    max-width: 300px; }
